h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

div#progress, div#results {
  display: none;
}
table#artist-count td:first-child {
  width: 80%;
}

#login {
  width: 130px;
}

.accordion {
  display: none;
}



td {
  vertical-align: middle !important;
}
