h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

div#controls form {
  display: none;
}

div#progress, div#results {
  display: none;
}
table#artist-count td:first-child {
  width: 80%;
}

#login {
  width: 130px;
}

#friends-accordion {
  display: none;
}

.tooltip-inner {
  text-align: left !important;
}

td {
  vertical-align: middle !important;
}
